
      body {
        background-color: #f5f5f5;
        color: #333;
        font-family: sans-serif;
      }
      nav {
        display: flex;
        justify-content: space-around;
        background-color: #333;
        color: white;
        padding: 20px;
      }
      nav a {
        text-decoration: none;
        color: white;
      }
      .button {
        display: inline-block;
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid white;
      }
      .button:hover {
        background-color: white;
        color: #333;
      }
      .secondary-button {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid white;
      }
      .secondary-button:hover {
        background-color: white;
        color: #333;
      }
 
.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50% 
}

.center2 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50% 
}

.center3 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 80% 
    
    }
    
.center4 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 55% 
    
    }
    
.center5 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 20% 
    
    }
    
    .center6 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 30% 
}

.square {
    width: 50%;
    height: 50%;
   /* border: 1px solid transparent;*/
    padding: 9%;
    margin-top: 0%;
    /*background-color: #FAFAFA;*/
   /* opacity: 0.5;*/
}


.custom-border {
  background-color: rgba(217, 217, 217, .05);
  position: relative;
  border-radius: 16px;
  padding: 10px;
  width: 1000px;
  height: 2500px;
  margin: 0 20px;
}


